In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [10]:
import os

In [22]:
os.getcwd()

'/Users/abhinav/Downloads'

In [23]:
df=pd.read_csv("/Users/abhinav/Downloads/house.csv")

In [24]:
df.head()

   Area   Price
0  2600  550000
1  2700  560000
2  3000  565000
3  3200  610000
4  3400  650000

In [25]:
df.tail()

    Area   Price
6   4000  725000
7   4200  750000
8   5000  800000
9   5500  850000
10  6000  900000

In [26]:
df

    Area   Price
0   2600  550000
1   2700  560000
2   3000  565000
3   3200  610000
4   3400  650000
5   3600  680000
6   4000  725000
7   4200  750000
8   5000  800000
9   5500  850000
10  6000  900000

In [27]:
%matplpotlib inline

UsageError: Line magic function `%matplpotlib` not found.

In [28]:
Area_df=pd.DataFrame(df['Area'])

In [29]:
Price_df=pd.DataFrame(df['Price'])

In [30]:
model=LinearRegression()

In [31]:
model.fit(Area_df,Price_df)

LinearRegression()

In [32]:
model.score(Area_df,Price_df)

0.9781418584945186

In [33]:
print(model.coef_)
print(model.intercept_)

[[104.86546773]]
[282710.16311167]

In [38]:
Area_new=[[3700]]
print(model.predict(Area_new))

[[670712.39369859]]

/Users/abhinav/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [43]:
#predict multiple values

Area_new=[2900,3100,3700,4100]
Area_new= pd.DataFrame(Area_new)

In [44]:
Price_new=model.predict(Area_new)
print(Price_new)

[[586820.01951764]
 [607793.11306287]
 [670712.39369859]
 [712658.58078907]]

/Users/abhinav/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(