In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("/Users/abhinav/Downloads/iris.data", delimiter=",")

In [4]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
df.columns=['sepal_length',"sepal_width","petal_length","petal_width","class"]

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [7]:
df.shape

(149, 5)

In [8]:
df1=pd.DataFrame({'sepallength':iris.data[:,0],'sepalwidth':isis.data[:,1],
                 'petallength':iris.data[:,2],'petalwidth':iris.data[:,3],
                 'species':iris.target})

NameError: name 'iris' is not defined